<h1>Product Listing</h1>

<h2><%= @product.name %></h2>
<h2><%= @product.description %></h2>
<h2><%= number_to_currency @product.price %></h2>

<%# if can? :edit, @product %>
<%= link_to "Edit", edit_product_path(@product) %>
<%# end %>
<%# if can? :destroy, @product %>
<%= link_to "Delete",
            product_path(@product),
            method: :delete,
            data: {confirm: "Are you sure?"}%>
<%# end %>


<%= form_for [@product, @review] do |f| %>
  <div>
    <%= f.label :body  %>
    <%= f.text_area :body %>
  </div>
<%= f.submit %>
<% end %>
<% @review.errors.full_messages.join(", ") %>
<% @product.reviews.each do |review| %>
<%= review.body %>
<%# This is a shortcut [@prodct, rev] %>
<%= link_to "Delete", product_review_path(@product, review),
                      method: :delete,
                      data: {confirm: "Are you Sure?"} %>

<hr>
<% end %>
